.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #388e3c;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #c8e6c9;
}

.table tr:hover {
  background-color: #a5d6a7;
}

.total-price-cell {
  width: 200px;
}
